footer
  .container.text-center
    p.pull-left © 2016 Panos Kozanian. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/pkozanian/sparklocations') GitHub Project
      li
        a(href='https://github.com/pkozanian/sparklocations/issues') Issues
