extends layout

block content
  .row
    .col-md-12
      h1 Spark Locations
      p.lead Create and join Spark rooms based on your location.
      hr
  .row
    .col-md-12
      #mapcontainer
        #map(style=" height: 350px")
        #capture
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAzgfYyackskauSa6pKXS-xOj41pE4RQck&callback=initMap', async='true', defer='true')
